.DS_Store/
.phalcon/
.phpintel/
.sass-cache/

app/cache/
dist/
node_modules/
node_modules/
vendor/

*.njsproj
*.ntvs*
*.sln
*.sublime-project
*.sublime-workspace
*.suo
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.behat
